<ion-header>
  <ion-toolbar>
    <ion-title>Select Language</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Select Language</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="selectedLanguage" (ionChange)="languageChanged()">
        <ion-select-option value="en">English</ion-select-option>
        <ion-select-option value="es">Spanish</ion-select-option>
        <ion-select-option value="fr">French</ion-select-option>
        <ion-select-option value="vi">Vietnamese</ion-select-option>
        <ion-select-option value="zh">Chinese</ion-select-option>
        <ion-select-option value="de">German</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-button class="close" (click)="closeModal()"><ion-icon large name="close"></ion-icon></ion-button>

</ion-content>
