<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <img alt="logo" slot="end" height="40px" src="assets/img/Logo_WhiteStacked_1024x1024.png">
      <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      <!-- {{title | translate}} -->
      Log Out / Delete Account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button (click)="deleteUser()">Delete User Account</ion-button><br><br>
  <ion-button (click)="signOut()">Sign Out</ion-button>
</ion-content>
