<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <img alt="logo" slot="end" height="40px" src="assets/img/Logo_WhiteStacked_1024x1024.png">
      <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      {{title | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="lfront"><img class="lfront" src="assets/img/LakefrontBLUE.png"></div>
    <img class="logo" src="assets/img/0000000776_white.gif">
    <div class="container2">
    <p>NAMI St. Tammany is a grass roots organization dedicated to offering education, support, resources, and advocacy for individuals living with mental illness, their families and the community. Our Mission is to Increase awareness and advocate for families and persons with mental illness: envisioning prevention, education and training as the primary pathways to better services and a healthier community. Founded in 1984, NAMI St. Tammany began as a small group of individuals with this common interest. The mental health needs of our community continue to grow as our population increases. NAMI St. Tammany and its dedicated volunteers continue to expand services to meet the community’s ongoing mental health care needs.</p></div>
    <div class="container">
        <h1 class="prog-header">Our Mission</h1>
      <div class="container2">
        <h2>Increase awareness and advocate for families and persons with mental illness: envisioning prevention, education and training as the primary pathways to better services and a healthier community.</h2>
      </div>
    </div>
    <div class="clear"></div>
    <div class="container">
        <h1 class="prog-header">48,000+</h1>
      <div class="rfloat">
        <h2>Individuals Living With Mental Illness</h2>
      </div>
    </div>  
    <div class="clear"></div>
    <div class="container">
      <h1 class="prog-header">Impact</h1>
      <div class="rfloat">
    <h2>136 support group meetings</h2>
    <h2>16,410 requests for resources</h2>
    <h2>1,486 trainings & education</h2>
    <h2>300+ resources on mobile app</h2>
    <h2>2,500 served at NAMI’s Closet</h2>
    <h2>700+ NAMIWalks participants</h2>
      </div>
    </div>  
    <div class="clear"></div>
    <h1 class="prog-header">Progress</h1>
    <div class="prog-div">
    <h2>Peer Support Specialists (PSS)</h2>
    <p>Members of the community in recovery from mental illness who work with those in need of support and guidance. NAMI St. Tammany employs many PSS throughout the area including: 22nd Judicial District specialty courts, outpatient behavioral health clinics, psychiatric hospitals, our residential and day programs.</p>
    <ul>
    <li>15 Employed</li>
    <li>8 Courts Served</li>
    <li>8 Facilites</li>
    </ul></div>
    <div class="prog-div">
    <h2>First Responders</h2>
    <p>We equip law enforcement officers and other first responders with a deeper understanding of mental health issues by offering a variety of resources and educational trainings. These programs guide individuals to appropriate mental health services and offer support, instead of sending them straight into the criminal justice system.</p>
    <ul>
    <li>60+ Trained</li>
    <li>14 Agencies</li>
    </ul></div>
    <div class="prog-div">
    <h2>Day Program</h2>
    <p>Opened in June 2018 as the first phase of Safe Haven, our Peer-Run Day Center provides free non-clinical support resources, recovery-oriented programs, groups and activities in a safe and accepting environment. The program helps individuals find hope and inspiration from others in recovery.</p>
    <ul>
    <li> 94 Clients Served</li>
    <li>800+ Sessions</li>
    </ul></div>
    <div class="prog-div">
    <h2>Residential Program</h2>
    <p>Provides 24/7 care to adults living with a severe and persistent mental illness. This allows individuals, who otherwise may be subject to further institutionalization or homelessness, to live in a less restrictive environment while preparing them to move in the direction of recovery and independence.</p>
    <ul>
    <li>35 Residents Served</li>
    <li>1,000 nights of shelter</li>
    </ul></div>
</ion-content>
