  /* Styles top header */
ion-header {
    color: white;
    --background: #0c499c;
    box-shadow: none;
    }
/* Styles top toolbar */
ion-toolbar {
    color: white;
    --background: #0c499c;
    box-shadow: none;
    }
/* Styles background color of every item on page content*/
ion-content{
    --ion-background-color: linear-gradient(to bottom,#0c499c 0%, #03216e 100%) !important;
    }
       
    /* Styles each resources font colors*/
    p {
    text-align: left;
    color: #fff;
    width:100%;
    }
    b {
    color: #fff;
    font-size: 12pt;
    }
    ion-label, h4 {
        color: white;
    }    
    /* Styles each menu item, background, border, and font color*/
    
    ion-item {
        --background: transparent !important;
        --border-color: #FFF;
        --color: #fff;
    }
    .list-md {
        background: transparent !important;
    }
    
    ion-row {
        height: 20% !important;
    }
     /* Styles bottom buttons */ 
  ion-button {
    --background: linear-gradient(#00cd67 20%, #01ff80 100%) !important;
    --background-focused: linear-gradient(#00cd67 20%, #01ff80 100%) !important;
    --background-hover: linear-gradient(#00cd67 20%, #01ff80 100%) !important;
    width: 100%;
    height: 100%;
}
ion-icon {
    color: #fff;
    height: 100%;
    width: 100%;  
} 
  /* Styles ion-toolbar */  
  ion-footer {
    --background: transparent !important;
    
 }
