// .vertical-center{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 100%;
//   }

/* Styles background color of every item on page content*/
// ion-content{
//   --ion-background-color: linear-gradient(180deg, #3064ab 0%, #0c499c 50%, #03216e 100%) !important;
//   }

/* Styles top toolbar */
ion-toolbar {
  color: white;
  --background: #3064ab;
  box-shadow: none;
  }

/* Styles each resources background color*/
ion-list {
  --color: var(--ion-color-step-850,#fff);
  // --background: transparent !important;
  }


.tier1container {
  margin: auto;
  width: 70%;
  height: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}
.tier2container {
  margin: auto;
  width: 60%;
  height: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}
.tier3container {
  margin: auto;
  width: 50%;
  height: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}


  #logo {
    width: 100%;
    height: auto;    
  }