<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <img alt="logo" slot="end" height="40px" src="assets/img/Logo_WhiteStacked_1024x1024.png" style="object-fit: contain !important;">
      <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Sponsors
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-list *ngFor="let sponsor of sponsorsList | async" class="ion-justify-content-center" >

      <!-- Tier 1 - logo 70% of width, max height -->
      <ion-row *ngIf="sponsor.tier === 1" >
        <div class="tier1container">
          <img id="logo" src="{{sponsor.image}}" (click)="viewSponsor(sponsor)">
        </div>
    </ion-row>

    <!-- Tier 2 - logo 60% of width -->
    <ion-row *ngIf="sponsor.tier === 2">
        <div class="tier2container">
          <img id="logo" src="{{sponsor.image}}" (click)="viewSponsor(sponsor)">
        </div>
    </ion-row>

    <!-- Tier 3 - logo 50% of width -->
    <ion-row *ngIf="sponsor.tier === 3">
        <div class="tier3container">
          <img id="logo" src="{{sponsor.image}}" (click)="viewSponsor(sponsor)">
        </div>
    </ion-row>

</ion-list>


</ion-content>
