<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <img alt="logo" slot="end" height="40px" src="assets/img/Logo_WhiteStacked_1024x1024.png">
      <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Sponsors
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let sponsor of sponsorsList | async">
        <ion-item (click)="viewSponsor(sponsor)">
          
              <ion-avatar slot="start"><img src="{{sponsor.image}}" style="height: 100% !important;"></ion-avatar>
              
              <ion-label> 
                {{sponsor.title}}
              </ion-label> 
     </ion-item>


      <!-- <ion-card>
        <ion-item (click)="viewSponsor(sponsor)" *ngIf="sponsor.tier === 1">
          <ion-avatar slot="start">
            <img src="{{sponsor.image}}">
          </ion-avatar>
          <ion-label>{{sponsor.title}}</ion-label>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item (click)="viewSponsor(sponsor)" *ngIf="sponsor.tier === 2" style="width: 75% !important">
          <ion-avatar slot="start">
            <img src="{{sponsor.image}}">
          </ion-avatar>
          <ion-label>{{sponsor.title}}</ion-label>
        </ion-item>
      </ion-card>

      <ion-card>        
        <ion-item (click)="viewSponsor(sponsor)" *ngIf="sponsor.tier === 3" style="width: 50% !important">
          <ion-avatar slot="start">
            <img src="{{sponsor.image}}">
          </ion-avatar>
          <ion-label>{{sponsor.title}}</ion-label>
        </ion-item>
      </ion-card> -->

</ion-list>


</ion-content>
