.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 767px) {
  ion-card {
    width: 600px;
    margin: auto;
  }
}
ion-card {
  --background: transarent;
  box-shadow: none;
  -webkit-box-shadow: none;
  overflow: hidden;
}
.input {
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(210, 210, 210);
  border-radius: 9px;
  font-size: 0.9em !important;
}
.white {
  color: white;
}

.small {
  font-size: 13px;
  a {
    text-decoration: unset !important;
  }
}
/* Styles ion-button */
.button {
  background: linear-gradient(#00cd67 20%, #01ff80 100%) !important;
  font-size: 18px;
}
/* Styles text color */
.sc-ion-card-md-h {
  color: white;
}
ion-input {
  color: black;
}
/* Styles bottom buttons */ 
#login-buttons {
  width: 100%;
}
:host .button-solid {
  --background: linear-gradient(#00cd67 20%, #01ff80 100%) !important;
  --background-focused: linear-gradient(#00cd67 20%, #01ff80 100%) !important;
  --background-hover: linear-gradient(#00cd67 20%, #01ff80 100%) !important;
}
/* Styles bottom icons */
ion-icon {
height: 100%;
width: 100%;
padding-top: 11px;
padding-bottom: 11px;
}
/* Styles ion-toolbar */  
ion-footer {
  --background: #03216e !important;
}
ion-toolbar {
   --background: #03216e !important;
}
.grid {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.img-logo {
  height: auto;
  width: 100%;
}
.fire-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.bold {
  font-weight: bold;
}
.block {
  display: block;
}
.error {
  color: red;
  text-align: center;
  display: block;
  font-weight: bold;
}
/* Styles top toolbar */
ion-toolbar {
color: white;
--background: #3064ab;
box-shadow: none;
}
/* Styles background color of every item on page content*/
ion-content{
--ion-background-color: linear-gradient(180deg, #3064ab 0%, #0c499c 50%, #03216e 100%) !important;
}
/* Styles searcbar*/
.sc-ion-searchbar-md-h {
  --clear-button-color: initial;
  --cancel-button-color: var(--ion-color-step-900,#fff);
  --color: var(--ion-color-step-850,#fff);
  --icon-color: var(--ion-color-step-600,#fff);
  --background: transparent !important;
}
/* Styles dropdowns*/
ion-item {
--background: transparent !important;
--color: #fff !important;
--border-color: var(--ion-item-border-color,var(--ion-border-color,var(--ion-color-step-150,rgba(255,255,255,0.13))));
}
/* Styles  dropdowns bacground color*/
.list-md {
background: transparent !important;
}
/* Styles each resources background color*/
ion-list {
--color: var(--ion-color-step-850,#fff);
--background: transparent !important;
}
/* Styles share button*/
/* color is changed via html*/
ion-icon {
height: 100%;
width: 100%;
padding-top: 11px;
padding-bottom: 11px;
}
ion-text {
  color: #fff;
}

